.App {
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
}
.wrapper-grid {
  background-color: teal;
  display: grid;
  grid-template-columns: 50% 50%;
}

.wrapper-grid-2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: 1em;
}

.wrapper-grid-2 > div {
  border: 1px solid;
}

.wrapper-grid > div {
  padding: 1em;
}

.wrapper-grid > div:nth-child(odd) {
  background: #ddd;
}
.wrapper-box {
  width: 25%;
  background-color: turquoise;
}

.wrapper-column {
  display: flex;
  flex-direction: column;
}
.column-paragraph {
  background-color: tomato;
  margin: 5%;
}
p {
  color: white;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper-box {
    width: 100%;
  }
  .wrapper-box > p {
    padding: 1rem;
  }

  .wrapper-grid {
    grid-template-columns: 100%;
  }
  .wrapper-grid-2 {
    grid-template-columns: 100%;
  }
  .wrapper-grid-2 > div {
    border: none;
  }
}
