.App {
  height: 100vh;
  background-color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: row;
}
.wrapper-box {
  width: 25%;
  background-color: turquoise;
}

.wrapper-column {
  display: flex;
  flex-direction: column;
}
.column-paragraph {
  background-color: tomato;
  margin: 5%;
}
p {
  color: white;
}
